<p>
	<b>Name:</b>
	<%= @user.name %>
</p>
<p>
	<b>Email:</b>
	<%= @user.email %>
</p>
<p>
	<b>Encrypted password:</b>
	<%= @user.encrypted_password %>
</p>
<%unless  @user.authentications.empty?%>
<p>
	<b>Authentications:</b>
	<table>
		<% @user.authentications.each do |authentication|%>
		<tr>
		 <td> <%= authentication.provider %>
			<%= authentication.uid %> </td>
		</tr>
		<% end %>
	</table>
</p>
<% end %>

<% if @user.authentications.find_by_provider('facebook')%> 
<p>
<b>Facebook:</b>
	<%= form_tag( {:action => "wall"}, :method => "get") do %>
	<%= label_tag(:q, "Post on your Facebook wall:") %>
	<%= text_field_tag(:message) %>
	<%= hidden_field_tag(:id, @user.id) %>
	<%= submit_tag("Send") %>
	<% end %>
	</p>
<p>
	Profile:
			<table>
		<% @fb_profile.each do |key, value|%>
	
				<tr>
			<td> <%= key + ":" %>
			<%= value %> </td>
		</tr>
		<% end %>
		</table>
	<br />
</p>
<p>
	<br />
	Friends:
	<br />
	<table>
		<% @fb_friends.each do |friend|%>
		<tr>
			<td> <%= friend["name"] %>
			<%= friend["id"] %> </td>
		</tr>
		<% end %>
	</table>
</p>
<% end %>

<% if @user.authentications.find_by_provider('twitter')%> 
<p>
<b>Twitter:</b>
	<%= form_tag( {:action => "tweet"}, :method => "get") do %>
	<%= label_tag(:q, "Message:") %>
	<%= text_field_tag(:message) %>
	<%= hidden_field_tag(:id, @user.id) %>
	<%= submit_tag("Tweet") %>
	<% end %>
	</p>

<p>
<%	unless @followers.empty? %>
	Followers:
	<table>
		  <tr>
    <th>name</th>
    <th>nick</th>
    <th>location</th>
    <th>url</th>

  </tr>
	<% @followers.each do |follower|%>
		
		<tr>
			<td> <%= follower[:name] %> </td>
			<td> <%= follower[:screen_name] %> </td>
			<td> <%= follower[:location] %> </td>
			<td> <%= follower[:url] %> </td>
			
		</tr>
	<% end %>
	</table>
<% end %>
</p>
<p>
<%	unless @friends.empty? %>
	Friends:
	<table>
		  <tr>
    <th>name</th>
    <th>nick</th>
    <th>location</th>
    <th>url</th>

  </tr>
	<% @friends.each do |friend|%>
		
		<tr>
			<td> <%= friend[:name] %> </td>
			<td> <%= friend[:screen_name] %> </td>
			<td> <%= friend[:location] %> </td>
			<td> <%= friend[:url] %> </td>
			
		</tr>
	<% end %>
	</table>
<% end %>
</p>
<p>
<%	unless @feeds.empty? %>
	Feeds:
	<table>
 	<tr>
    	<th>name</th>
    	<th>tweet</th>
    	<th>date</th>
	</tr>
	<% @feeds.each do |feed|%>
	<tr>
			<td><%= feed.user[:name] %> </td>
			<td><%= feed[:text] %> </td>
			<td><%= feed[:created_at] %> </td>
		</tr>

	<% end %>
	</table>
	<br />
<% end %>
<% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user)		 %> |
<%= link_to 'Back', users_path %> 