<p id="notice">
	<%= notice %>
</p>
<p>
	<b>Name:</b>
	<%= @user.name %>
</p>
<p>
	<b>Email:</b>
	<%= @user.email %>
</p>
<p>
	<b>Encrypted password:</b>
	<%= @user.encrypted_password %>
</p>
<%unless  @user.authentications.empty?%>
<p>
	<b>Authentications:</b>
	<table>
	<% @user.authentications.each do |authentication|%>
	<tr>
		<td> <%= authentication.provider %>
		<%= authentication.uid %> </td>
	</tr>
	<% end %>
	</table>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user)		 %> |
<%= link_to 'Back', users_path %> 